<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

      {% load staticfiles %}
    <title>Profile Page</title>

    <!-- CSS  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet">
    <link href={% static "css/style.css" %} type="text/css" rel="stylesheet">
    <script>
        var angle = 0;
function galleryspin(sign) {
spinner = document.querySelector("#spinner");
if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
}
 </script>

  </head>
  <body>

{% include 'student/home_page_navbar.html' %}


<div class="container">
  
        <div class="row">

        <br><br>
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked admin-menu" >
                    <li ><a href="/student/profile/" data-target-id="profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li class="active"><a href="/student/changepassword/" data-target-id="change-password"><i class="glyphicon glyphicon-lock"></i> Change Password</a></li>
                    <!-- <li><a href="" data-target-id="settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li> -->
                    <!-- <li><a href="" data-target-id="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li> -->
                </ul>


            </div>

	<!-- 	<form method="post">
  				{% csrf_token %}
  				{{ form.old_password }}


   			<button type="submit">Save changes</button>
 -->		<!-- </form> -->


 <div class="col-md-9  admin-content" id="change-password">
                <form  method="post">
               			
               		{% csrf_token %}
           
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="new_password" class="control-label panel-title">Enter the Old Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <!-- <input type="password" class="form-control" name="password" id="new_password" > -->{{ form.old_password }}
                                </div>
                            </div>

                        </div>
                    </div>

             
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Enter the New Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <!-- <input type="password" class="form-control" name="password_confirmation" id="confirm_password" > -->
                                {{ form.new_password1 }}
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Re-Enter the New Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <!-- <input type="password" class="form-control" name="password_confirmation" id="confirm_password" > -->
                                {{ form.new_password2 }}
                                </div>
                            </div>
                        </div>
                    </div>


           
                    <div class="panel panel-info border" style="margin: 1em;">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="pull-left">
                                    <button type="submit" >Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


</div>
</body>
</html>