 
   <nav class="top-nav" role="navigation">
      <div class="nav-wrapper container">
        <a href = "{% url 'student:homepage' %}"><img src="https://image.ibb.co/emLsEn/iitbhu_logo.png" height="50"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/#hostel_section">Hostels</a></li>   <!-- auto drag to that postion -->
          {% if user.is_authenticated %} 
          {% if not isadmin %}
          <li class="dropdown" style="font-size: 1.2em;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Grievances
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li> <a href="/student/addgrievance/">Add Grievance</a></li>
          <li><a href="/student/grievances/">View Grievances</a></li>
          </ul>
          </li>
          <li><a href="/student/profile/">Profile</a></li>
          <li><a href="/student/allotroom/">Room Allocation</a></li>
          {% endif %}
          
          {% if isadmin %}
          <li><a href="/hostel/grievances/">View Grievances</a></li>
                
          <li class="dropdown" style="font-size: 1.2em;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Update
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li> <a href="/hostel/addnotification/">Add Notification</a></li>
          <li><a href="/hostel/updateinfo/">Update Hostel</a></li>
          </ul>
          </li>
          {% endif %}
          <li><a href="/logout/">Logout</a></li>
          {% else %}      
          <li class="dropdown" style="font-size: 1.2em;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Login/Register
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li> <a href="/student/login">Student Login/SignUp</a></li>
          <li><a href="/hostel/login/">Hostel Login</a></li>
          </ul>
          </li>
          {% endif %}
        </ul>
        <!-- attach glyphicons -->
        <ul id="slide-out" class="side-nav">

          <li><a href="#">Hostels</a></li>   <!-- auto drag to that postion -->

          {% if user.is_authenticated %} 
          <li><a href="/logout/">Logout</a></li>
          {% else %}      
           
          <li class="dropdown" style="font-size: 1.2em;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Login/Register
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li> <a href="/student/login">Student Login/SignUp</a></li>
          <li><a href="/student/hostel_login/">Hostel Login</a></li>
          </ul>
          </li>

          {% endif %}

        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
