<!DOCTYPE html>
<head>
{% load staticfiles %}
<title>Hostel Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet">
    <link href={% static "css/style.css" %} type="text/css" rel="stylesheet">



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>

{% include 'student/home_page_navbar.html' %}
<br>  
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="login-form" action= "/hostel/updateinfo/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <h4>Update Info for {{hostel.hostel_name}}</h4>
                            (Leave a field blank if data is not available)
                            <div class="form-group">
                                <label class="form-group">Number of Students</label>
                                <input type="number" min="0" name="form-numberofstudents" placeholder="Number of Students" class="form-username form-control" id="form-numberofstudents" value="{{hostel.number_of_students}}">
                            </div>
                            
                            <div class="form-group">
                                <label class="form-group">Mess 1 Maharaj</label>
                                <input type="text" name="form-mess1maharaj" placeholder="Full Name" class="form-username form-control" id="form-mess1maharaj" value="{{hostel.mess1_maharaj_name}}">
                            </div>

                            <div class="form-group">
                                <label class="form-group">Mess 2 Maharaj</label>
                                <input type="text" name="form-mess2maharaj" placeholder="Full Name" class="form-username form-control" id="form-mess2maharaj" value="{{hostel.mess2_maharaj_name}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Mess 3 Maharaj</label>
                                <input type="text" name="form-mess3maharaj" placeholder="Full Name" class="form-username form-control" id="form-mess3maharaj"  value="{{hostel.mess3_maharaj_name}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Mess Bills</label>
                                <input type="text" name="form-messbill" placeholder="Link to Google Sheet" class="form-username form-control" id="form-messbill"  value="{{hostel.mess_bill_link}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Student List</label>
                                <input type="text" name="form-studentlist" placeholder="Link to Google Sheet" class="form-username form-control" id="form-studentlist"  value="{{hostel.student_list}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Canteen Menu</label>
                                <input type="text" name="form-menu" placeholder="Link to Google Sheet" class="form-username form-control" id="form-menu"  value="{{hostel.canteen_menu}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">HEC</label>
                                <input type="text" name="form-hec" placeholder="Link to Google Sheet" class="form-username form-control" id="form-hec"  value="{{hostel.HEC}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Wardens List</label>
                                <input type="text" name="form-wardens" placeholder="Link to Google Sheet" class="form-username form-control" id="form-wardens" value="{{hostel.wardens}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Care Takers List</label>
                                <input type="text" name="form-caretakers" placeholder="Link to Google Sheet" class="form-username form-control" id="form-caretakers" value="{{hostel.care_takers}}">
                            </div>
                            <div class="form-group">
                                <label class="form-group">Maintainance Workers List</label>
                                <input type="text" name="form-workers" placeholder="Link to Google Sheet" class="form-username form-control" id="form-workers" value="{{hostel.workers}}">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
</div>

</body>
