 

  <nav class="top-nav" role="navigation">
      <div class="nav-wrapper container">
        <a href = "{% url 'student:homepage' %}" ><img src="https://image.ibb.co/emLsEn/iitbhu_logo.png" height="50">
        <ul class="right hide-on-med-and-down">
                              <!-- auto drag to that postion -->
          <!-- <li><a href="#">Hostels</a></li>   
          <li><a href="#">Gymkhana</a></li>  --> <!-- give the link to gymkhana portal -->
        {% if user.is_authenticated %} 
            <li><a href="{% url 'student:logout' %}">Logout</a></li>
        {% else %}      
            <li><a href= "/student/login" >Login/Register</a></li>
        {% endif %}

        </ul>
        <!-- attach glyphicons -->
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
      </div>
    </nav>
