<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}Notifications{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{% for files in all_files %}
    {% if files.is_new %}
        <a href="#"><strong>{{ files.message }}</strong></a> <span class="label label-default">New</span><br>
    {% else %}
        <a href="#">{{ files.message }}</a><br>
    {% endif %}
{% endfor %}
</body>