{% load static %}
{% include 'student/home_page_navbar.html' %}
{% block title %}
<title>
  Credits | IIT BHU Hostel Portal
</title>
<style>
.credits {
padding: 2%;
  }
.credits img {
height: 150px;
display: table;
margin: auto;
width: 150px;
border: 2px solid #EE6E73;
border-radius: 50%;
}
.credits p {
text-align: center;
}

.credits h4 {
text-align: center;
}
.credits p a {
      padding: 1%;
  color: #EE6E73;
}
</style>
{% endblock %}

{% block body %}
<h3 style="text-align:center">Credits</h3>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-6 credits">
      <img src="https://avatars3.githubusercontent.com/u/20956124?s=400&u=e80af7cd0e8af085d68b24b5fde926981ff02785&v=4">
      <h4>Jogendra Kumar</h4>
      <p>Roll No. 15173009</p>
      <p>Engineering Physics (IDD)</p>
      <p>
        <a href="mailto:jogendra.kumar.phy15@iitbhu.ac.in" target="_blank"><i class="fa fa-envelope"></i><a/>
        <a href="https://github.com/jogendra" target="_blank"><i class="fa fa-github"></i><a/>
        <a href="https://www.linkedin.com/in/jogendrasingh24/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>

    <div class="col-sm-6 credits">
      <img src="https://avatars3.githubusercontent.com/u/20956124?s=400&u=e80af7cd0e8af085d68b24b5fde926981ff02785&v=4">
      <h4>Jogendra Kumar</h4>
      <p>Roll No. 15173009</p>
      <p>Engineering Physics (IDD)</p>
      <p>
        <a href="mailto:jogendra.kumar.phy15@iitbhu.ac.in" target="_blank"><i class="fa fa-envelope"></i><a/>
        <a href="https://github.com/jogendra" target="_blank"><i class="fa fa-github"></i><a/>
        <a href="https://github.com/jogendra" target="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
    <div class="col-sm-6 credits">
      <img src="https://avatars3.githubusercontent.com/u/20956124?s=400&u=e80af7cd0e8af085d68b24b5fde926981ff02785&v=4">
      <h4>Jogendra Kumar</h4>
      <p>Roll No. 15173009</p>
      <p>Engineering Physics (IDD)</p>
      <p>
        <a href="mailto:jogendra.kumar.phy15@iitbhu.ac.in" target="_blank"><i class="fa fa-envelope"></i><a/>
        <a href="https://github.com/jogendra" target="_blank"><i class="fa fa-github"></i><a/>
        <a href="https://github.com/jogendra" target="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
