{% load static %}
{% include 'student/home_page_navbar.html' %}
{% block title %}
<title>
  Credits | IIT BHU Hostel Portal
</title>
<style>
.credits {
padding: 2%;
  }
.credits img {
height: 150px;
display: table;
margin: auto;
width: 150px;
border: 2px solid #EE6E73;
border-radius: 50%;
}
.credits p {
text-align: center;
}

.credits h4 {
text-align: center;
}
.credits p a {
      padding: 1%;
  color: #EE6E73;
}
.headingh4 {
text-align:center;
letter-spacing: 1px;
text-transform: uppercase;
}
</style>
{% endblock %}

{% block body %}
<h3 class="headingh4">Portal Development Credits</h3>
<hr>
<div class="container">
  <div class="row">
    {% for contributor in contributors %}
    <div class="col-sm-6 credits">
      <img src="{{contributor.imageurl}}">
      <h4> {{contributor.name}}</h4>
      <p>Roll No. {{contributor.rollno}}</p>
      {% if contributor.branch and contributor.course %}
      <p>{{ contributor.branch }} ({{ contributor.course }})</p>
      {% endif %}
      <p>
        <a href="mailto:{{ contributor.email }}" target="_blank"><i class="fa fa-envelope"></i><a/>
        <a href="{{ contributor.github }}" target="_blank"><i class="fa fa-github"></i><a/>
        <a href="{{ contributor.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
      </p>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
