<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #ee6e73; color: #FFF;padding:1%;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2019 | Indian Institute of Technology (Banaras Hindu University) Varanasi. All Rights Reserved. | <a href="http://iitbhu.ac.in/various/disclaimer.shtml" style="color:white">Disclaimer<a/>
    </div>
    <i><div class="footer-copyright text-center py-3"><a href="student/credits.html" style="color:white">Website designed & developed in IIT (BHU) Varanasi | Credits</a>
    </div></i>
    <!-- Copyright -->

</footer>
