{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Grievances</title>
<style type="text/css">
td
{
  max-width: 100px;
  word-wrap: break-word;
}
</style>
</head>

<body>
  {% include 'student/home_page_navbar.html' %}
  {% block body %}
<div class="container">
  <h2>Grievance ID - {{grievance.id}}</h2>
  <h5> posted on {{grievance.date}}</h5>
  <div class="">
            <table class="table table-bordered table-fit" align="center">

                    <tbody>
                        <tr>
                            <td class="col-md-4" align="center"><b>Posted by</b></td>
                            <td class="col-md-8" align="center">{{profile.emailid}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Concerned Hostel</b></td>
                            <td class="col-md-8" align="center">{{grievance.hostel}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Category</b></td>
                            <td class="col-md-8" align="center">{{grievance.category}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Subject</b></td>
                            <td class="col-md-8" align="center">{{grievance.subject}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Description</b></td>
                            <td class="col-md-8" align="center">{{grievance.description}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Expected Date of Solving</b></td>
                            <td class="col-md-8" align="center">{{grievance.expected_date}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-4" align="center"><b>Comment</b></td>
                            <td class="col-md-8" align="center">{{grievance.comment}}</td>
                        </tr>


                    </tbody>
                </table>
  </div>
</div>

</body>
{% endblock %}

<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
