{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Grievances</title>
</head>

<body>
  {% include 'student/home_page_navbar.html' %}
  {% block body %}
<div class="container">
  <h2>Grievance List</h2>
  <div class="table-responsive">
            <table class="table">
                    <thead>
                        <tr>
                            <th>Grieviance ID</th>
                            <th>Subject</th>
                            <th>Posting Date</th>
                            <th>Expected Date of Completion</th>
                            <th>Current Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for query in grievances %}
                        <tr>
                            <td>{{ query.pk }}</td>
                            <td>{{ query.subject }}</td>
                            <td>{{ query.date }}</td>
                            <td>{{ query.expected_date }}</td>
                            <td>{{ query.status }}</td>
                            <td><a href="/hostel/grievance/{{query.pk}}/"><button>View</button></a></td>

                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
  </div>
</div>
<center>
<div class="pagination">
    <span class="step-links">
        {% if grievances.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ grievances.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ grievances.number }} of {{ grievances.paginator.num_pages }}.
        </span>

        {% if grievances.has_next %}
            <a href="?page={{ grievances.next_page_number }}">next</a>
            <a href="?page={{ grievances.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</center>

</body>
{% endblock %}

<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
