{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Grievances</title>
</head>

<body>
  {% include 'student/home_page_navbar.html' %}
  {% block body %}
<div class="container">
  <h2>Grievance List</h2>                                                                           
  <div class="table-responsive">          
            <table class="table">
                    <thead>
                        <tr>
                            <th>Grieviance ID</th>
                            <th>Subject</th>
                            <th>Posting Date</th>
                            <th>Expected Date of Completion</th>
                            <th>Current Status</th>
                            <th>Concerned Authority</th>
                            {% if isadmin %}
                            <th>Details</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for query in grievances %}
                        <tr>
                            <td>{{ query.pk }}</td>
                            <td>{{ query.subject }}</td>
                            <td>{{ query.date }}</td>
                            <td>{{ query.expected_date }}</td>
                            <td>{{ query.status }}</td>
                            <td>{{ query.category.authority }}</td>
                            {% if isadmin %}
                            <td><a href="/hostel/grievance/{{query.pk}}/"><button>View</button></a></td>
                            {% endif %}

                        </tr>
                        {% endfor %}

                        
                    </tbody>
                </table>
  </div>
</div>

</body>
{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #ee6e73; color: #FFF">

    
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Designed by Club of Programmers, IIT (BHU), Varanasi</h5>
      </li>
    </ul>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="http://www.copsiitbhu.co.in/" target="_blank" class="btn-floating btn-fb mx-1">
          <i class="fa fa-link"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.facebook.com/cops.iitbhu/" target="_blank" class="btn-floating btn-tw mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      Hostel Committee, IIT (BHU), Varanasi
    </div>
    <!-- Copyright -->

</footer>