  {% load static %}
  {% include 'student/home_page_navbar.html' %}
  {% block title %}
  <title>
  	Home | IIT BHU Hostel Portal
  </title>
  {% endblock %}

  {% block body %}
  <div id="myCarousel" class="carousel slide " style="margin-left: 2%;margin-right: 2%;margin-bottom: 20%" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
      <div class="item active">
         <img class="img img-responsive" src='/media/hostel_images/VishvaKarma-1.jpg'  alt="Hostel Image ">
      </div>
      <div class="item ">
         <img class="img img-responsive" src="/media/hostel_images/Rajputana-6.jpg " alt="Hostel Image">
      </div>
      <div class="item">
         <img class="img img-responsive" src="/media/hostel_images/Ramanujan-4.jpg  " alt="Mess Image">
      </div>
   </div>
   <!-- Left and right controls -->
   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
   </a>
</div>
<div class="panel panel-default " style="margin-left: 2%;margin-right: 2% ;margin-top: -18%">
   <div class="panel panel-heading" style="background-color:#ee6e73; color:#FFF;">&nbsp;Hostel Management System</div>
   <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
      <div class="container-fluid">
         <div class="row">
            <!-------post----->
            <div class="col-md-12">
               <p>Hostel management is an essential feature in both large and small institutions. Hostel management involves efficiently managing several aspects of the entire residential facility and reducing staff and manual work.
                  The hostel management system has been created to help the college or school staff and the student to easily register and use the facilities while keeping track of their activities within the premises.
                  The hostel management system consists of various modules that begin with the registration .
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<div style="margin-left: 2%;margin-right: 2%" >
   <div class="panel panel-default col-sm-4" >
      <div class="panel panel-heading " style="background-color:#ee6e73; color:#FFF;">&nbsp;Latest Information And Notices</div>
      <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
         <div class="container-fluid">
            <div class="row">
               <!-------post----->
               <div class="col-md-12" style="margin-left: 10px; " >
                  <p style="height:226px ;overflow-y:scroll">
                     {%  for list  in notifications %}
                     <a href="{{list.link}}" target="_blank">{{list.message}} - {{list.hostel}}</a><br>
                     {% endfor %}
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-default col-sm-4" >
      <div class="panel panel-heading " style="background-color:#ee6e73; color:#FFF;">&nbsp;Links</div>
      <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
         <div class="container-fluid">
            <div class="row">
               <!-------post----->
               <div class="col-md-12 " >
                  <div style="height:236px;">
                     <span class="glyphicon glyphicon-hand-right"> <a style="color: black" href="https://drive.google.com/file/d/0B081mTQyGdy5VHVyRnVsMm5xWXMyS1RQSXFONlUzeXZUb29B/view?usp=sharing" target="_blank"> Hostel Committee</a></span><br><br>
                     <span class="glyphicon glyphicon-hand-right"> <a   style="color: black" href="https://drive.google.com/file/d/1mL03zdBFMtQwzES4tRRhdXG1lZVI_UFi/view?usp=sharing" target="_blank"> Hostel Maintenance Policy </a></span><br><br>
                     <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="https://drive.google.com/file/d/11v7vp54PRmDYR708BYvJcagKk_QzIRNH/view?usp=sharing" target="_blank"> Mess-Canteen Policy </a></span><br><br>
                     <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="https://drive.google.com/file/d/1oOFn3R9fEze3cZ_rCX3b9xSNnTBhg8sY/view?usp=sharing" target="_blank"> Academic Office Contacts </a></span><br><br>
                     <span class="glyphicon glyphicon-hand-right"> <a  style="color: black"  href="https://drive.google.com/file/d/0B11jnltBT3TFY0xqT2pOX2FMbnlhRlg0UVd3NEtOaG1iUzZ3/view?usp=sharing" target="_blank"> IWD staff contacts </a></span><br><br>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div style=""class="panel panel-default col-sm-4" >
      <div class="panel panel-heading" style="background-color:#ee6e73; color:#FFF;">&nbsp;Our Aim</div>
      <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);">
         <div class="container-fluid">
            <div class="row">
               <!-------post----->
               <div class="col-md-12">
                  <div style="height:215px;">
                     <h3>Aim</h3>
                     <p>We aim to provide a platform for the student ,faculty,and others in need to fully utitlize all the features
                        of this Website And Have a fruitfull Communication with the student that you wanna interact.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div style="margin-left: 2%;margin-right: 2%" >
   <div class="panel panel-default " >
      <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.08);" id="hostel_section">
         <div class="container-fluid">
            <div class="row">
               {% for hostel in hostels %}
               <a href="/hostel/{{hostel.id}}">
                  <div class="col-sm-4">
                     <h4>{{hostel.hostel_name}}</h4>
                     <img src="{{hostel.flag_image.url}}" style="width: 180px;height: 180px;">
                  </div>
               </a>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
  {% endblock %}
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #ee6e73; color: #FFF">

    
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Designed by Club of Programmers, IIT (BHU), Varanasi</h5>
      </li>
    </ul>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="http://www.copsiitbhu.co.in/" target="_blank" class="btn-floating btn-fb mx-1">
          <i class="fa fa-link"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.facebook.com/cops.iitbhu/" target="_blank" class="btn-floating btn-tw mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      Hostel Committee, IIT (BHU), Varanasi
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->