<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
      {% load staticfiles %}
    <title>IIT BHU {{ all_hostels.name }}</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet">
    <link href={% static "css/style.css" %} type="text/css" rel="stylesheet">
    <script>
        var angle = 0;
function galleryspin(sign) {
spinner = document.querySelector("#spinner");
if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
}
 </script>

  </head>
  <body>
    {% include 'student/navbar_hostels_page.html' %}

      <!-- Slideshow container -->
    <div class="container">
          <div class="row">

            <div class="col s4 m3" style="padding:0;">
              <div class="collection">
              <a  class="collection-item" style = "font-size:24px; text-align:center">{{ all_hostels.name }}</a>
              <a href="#" class="collection-item drop-down" style = "text-align:left">Room Allotment</a>
              <a href="#" class="collection-item drop-down" style = "text-align:left">Canteen</a>
              <a href="#" class="collection-item" style = "text-align:left">Mess</a>
              <a href="#" class="collection-item" style = "text-align:left">Location</a>
              <a href="#" class="collection-item" style = "text-align:left">HEC</a>
              <a href="#" class="collection-item" style = "text-align:left">Duties of HEC members</a>
              <a href="#" class="collection-item" style = "text-align:left">Warden/Care-takers</a>
              <a href="#" class="collection-item" style = "text-align:left">Maintenance Workers</a>
              <!-- <a href="#" class="collection-item" style = "text-align:left">Laundry Service</a> -->
              </div>
            </div>


              {% include 'student/carousel_hostels_page.html' %}
        </div>
      </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>



      <d'iv class="container">
        <div class="row">
        <div class="col s12 m7">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h3>About Us</h3>
                {% for para in all_about %}
                    <p class="left-align light">{{ para.para_1 }}<br><br>
                    {{ para.para_2 }}
                    </p>
                {% endfor %}

          </div>
        </div>

        </div>
         <div  id="notification" class="col s4 m5">
          <h4 style="text-align:center">Notifications</h4>
          <div class="collection">
                {% for notifications in all_notitfications %}

                    {% if notifications.file %}
                        {% if notifications.is_new %}
                            <p class="collection-item"><a href="{{ notifications.file.url }}" target="_blank"><strong>{{ notifications.message }}</strong></a> <span class="label label-default">New</span><br></p>
                        {% else %}
                            <p class="collection-item"><a href="{{ notifications.file.url }}" target="_blank">{{ notifications.message }}</a><br></p>
                        {% endif %}
                    {% endif %}
                    {% if notifications.link %}
                        {% if notifications.is_new %}
                            <p class="collection-item"><a href="{{ notifications.link }}" target="_blank"><strong>{{ notifications.message }}</strong></a> <span class="label label-default">New</span><br></p>
                        {% else %}
                            <p class="collection-item"><a href="{{ notifications.link }}" target="_blank">{{ notifications.message }}</a><br></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
          </div>
        </div>



        </div>

      </div>


      <!--   Icon Section   -->
      <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="font-size : 26px;">Mess Details</h5>

            <div class="mess-info">

            <p class="light"><span style="font-size:18px">Mess 1 : </span><br>
              Maharaj : __________<br>
              <span style="font-size:18px">Mess 2 : </span><br>
              Maharaj : __________<br>
              <span style="font-size:18px">Mess 3 : </span><br>
              Maharaj : __________<br>
                <span style="font-size:18px">Mess 4 : </span><br>
              Maharaj : __________<br>
            </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" style="font-size : 26px;">Rules and Regulations</h5>

            <p class="light">The disciplinary committee shall consist of the Warden in-charge, Associate
              Wardens, Hostel Secretary, one student nominated by the Warden in-charge
              and one student nominated by the general body. The disciplinary committee
              shall take action against the students who will violate the code of conduct of
              the hostel.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="font-size : 26px;">Allotment Scheme</h5>
              {% for schemes in all_scheme %}
            <p class="light">{{ schemes.scheme }}</p>
              {% endfor %}
          </div>
        </div>
      </div>
      </div>


    <section class="container">
      <h4 align="center">Warden's Contacts:</h4>
      <div class="row warden-contact">
        {% for warden in all_wardens %}
        <div class="col sm12 m2.5">
          <img src="{{ warden.profile_photo.url }}" class="contacts w-contacts" align="middle">
          <figcaption align="left" ><font size="5">{{ warden.warden_name }}</font></figcaption>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="container warden-contact">
      <h5 align="center">HEC Contacts:<h5>
      <div class="row hec-contacts">
        {% for members in all_hec %}
        <div class="col sm12 m2">
          <img src="{{ members.profile_image.url }}" class="contacts w-contacts" >
          <figcaption align="center" ><font size="5">{{ members.member_name }}</font></figcaption>
        </div>
        {% endfor %}
      </div>
    </section>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">IIT (BHU)</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l6 s12">
            <h5 class="white-text" style="text-align:center;">Emergency Contacts</h5>
            <p class="grey-text text-lighten-4">
            chief proctor: 9450545650  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;
            IIT BHU chief proctor : 8004925734<br>
            BHU control room : +91 5422369134 &nbsp; &nbsp; &nbsp; &nbsp;
            Ambulance contact no. : 0542-2309279, 2309308<br>
            Sunderlal no. : 8541805443 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Fire Brigade, Bhelupur : 0542-2452888<br>
            </p>
          </div>
      </div>

    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../dist/js/materialize.js"></script>
    <script src="js/init.js"></script>

    </body>
  </html>
  <!-- Footer -->
  {% include 'student/footer.html' %}
  <!-- Footer -->
