<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% load staticfiles %}
  <title>Hostel - {{hostel.hostel_name}}</title>
  <style type="text/css">
 html {
  scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.panel {
  border: none;
}
  </style>


</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
  {% include 'student/home_page_navbar.html' %}
  <br>
<div id="myCarousel" class="carousel slide " style="margin-left: 2%;margin-right: 2%;margin-bottom: 20%" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height:60vh;">
      <div class="item active">
      <img class="img img-responsive" src='{{hostel.hostel_image1.url}}'  alt="Vrindavan Bhawan ">
    </div>
    <div class="item ">
      <img class="img img-responsive" src="{{hostel.hostel_image2.url}}" alt="Saket Bhawan">
    </div>



    <div class="item">
      <img class="img img-responsive" src="{{hostel.hostel_image3.url}} " alt="Kalpana">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="panel-default " style="margin-left: 2%;margin-right: 2% ;margin-top: -18%">



              <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.03);border:none;">
                <div class="container-fluid">


                    <div class="row">
                    <!-------post----->
                      <div class="col-md-12">
                        <center><h3>{{hostel.hostel_name}} Hostel</h3></center>
                      </div>

                    </div>
                </div>


        </div>


  </div>
<div style="margin-left: 2%;margin-right: 2%;font-size:120%;" >

     <div class="panel panel-default col-sm-4" >
          <div class="panel panel-heading " style="background-color:#ee6e73; color:#FFF;">&nbsp;Notofications </div>


              <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.03);">
                <div class="container-fluid">


                    <div class="row">
                    <!-------post----->
                    <div class="col-md-12" style="margin-left: 10px; " >
                              <p style="height:226px ;overflow-y:scroll">

                     {%  for list  in notifications %}
                    <i class="fa fa-angle-double-right"></i> <a href="{{list.link}}" target="_blank">{{list.message}}</a>&nbsp;{% if isadmin %}<a href="/hostel/removenotification/{{list.id}}/"><i class="fa fa-remove" style="color: red;"></i></a>{% endif %}<br>
                    {% endfor %}
                      </p>    </div>
                    </div>
                </div>


        </div>


  </div>

    <div class="panel panel-default col-sm-4" >
          <div class="panel panel-heading " style="background-color:#ee6e73; color:#FFF;">&nbsp;Database</div>


              <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.03);">
                <div class="container-fluid">


                    <div class="row">
                    <!-------post----->
                      <div class="col-md-12 " >

<div style="height:236px;overflow-y:scroll">
    {% if hostel.student_list %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.student_list}}">  Student List</a></span><br><br>
    {% endif %}
    {% if hostel.mess_bill_link %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.mess_bill_link}}">  Mess Bills</a></span><br><br>
    {% endif %}
    {% if hostel.HEC %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.HEC}}">  Hostel Election Committee</a></span><br><br>
    {% endif %}
    {% if hostel.wardens %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.wardens}}">  Warden Contacts</a></span><br><br>
    {% endif %}
    {% if hostel.care_takers %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.care_takers}}">  Care Takers Contacts</a></span><br><br>
    {% endif %}
    {% if hostel.maintainance_workers %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.maintainance_workers}}">  Maintainance Workers Contacts</a></span><br><br>
    {% endif %}
    {% if hostel.duties_of_hec %}
    <i class="fa fa-angle-double-right"></i> <a target="_blank" style="color: black" href="{{hostel.duties_of_hec}}">  HEC Duties</a></span><br><br>
    {% endif %}



</div>


                      </div>

                    </div>
                </div>


        </div>


  </div>
    <div style=""class="panel panel-default col-sm-4" >
          <div class="panel panel-heading" style="background-color:#ee6e73; color:#FFF;">&nbsp;Hostel Information</div>


              <div class="panel panel-body" style="background-color:rgba(128, 128, 128, 0.03);">
                <div class="container-fluid">


                    <div class="row">
                    <!-------post----->
                      <div class="col-md-12">
<div style="height:215px;">
<h3>{{hostel.hostel_name}}</h3>
<ul>
  <li>
    <i class="fa fa-angle-double-right"></i>   <b>Location</b>  - <a target="_blank" href="{{hostel.location}}"> Map link</a>
  </li>
  <li>
    <i class="fa fa-angle-double-right"></i>   <b>Number of rooms</b>  -  {{hostel.rooms}}
  </li>
  <li>
    <i class="fa fa-angle-double-right"></i>   <b>Number of Students</b>  -  {{hostel.number_of_students}}
    </li>
    <li>
    {% if hostel.mess1_maharaj_name %}
    <i class="fa fa-angle-double-right"></i>   <b>Mess 1</b>  -  {{hostel.mess1_maharaj_name}}
    {% endif %}
</li>
<li>
    {% if hostel.mess2_maharaj_name %}
    <i class="fa fa-angle-double-right"></i>   <b>Mess 2</b>  -  {{hostel.mess2_maharaj_name}}
    {% endif %}
</li>
<li>
    {% if hostel.mess3_maharaj_name %}
    <i class="fa fa-angle-double-right"></i>   <b>Mess 3</b>  -  {{hostel.mess3_maharaj_name}}
    {% endif %}
    </li>
</ul>

</div>


                      </div>

                    </div>
                </div>


        </div>


  </div>

</div>

<div style="margin-left: 2%;margin-right: 2%" >

     <div class="panel panel-default " >


              <div class="panel-body" style="background-color:rgba(128, 128, 128, 0.03);" id="hostel_section">
                <div class="container-fluid">
                  <div class="row">
                    {% for hostel in hostels %}
                    <a href="/hostel/{{hostel.id}}">
                    <div class="col-sm-4">
                    <h5>{{hostel.hostel_name}}</h5>
                    <img src="{{hostel.hostel_image1.url}}" style="width: 180px;height: 180px;">
                    </div>
                    </a>
                    {% endfor %}
                  </div>

                </div>


        </div>


  </div>


</div>





</body>
</html>

 <h3 id="not" align="center">Hostel Staff</h3>
        <div style="margin-left: 2%;margin-right: 2%" >
   <div class="panel panel-default " >
         <div class="container-fluid">
            <div class="row">
               {% for member in staff %}
                  <div class="col-sm-4">
                     <img src="{{member.profilepic.url}}" style="width: 180px;height: 180px;">
                     <h4>{{member.name}}</h4>
                     <h4>{{member.post}}</h4>
                     <h5>+91 {{member.contact_no}}</h5>
                     <a href="mailto:{{member.emailid}}" target="_blank"><h6>{{member.emailid}}</h6></a>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
</div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/hover.js"></script>
  <script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </body>
</html>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #ee6e73; color: #FFF; padding: 1%;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2019 Copyright &copy;
      Hostel Committee, IIT (BHU), Varanasi
    </div>
    <!-- Copyright -->
</footer>
