<!DOCTYPE html>
<head>
{% load staticfiles %}
{% include 'student/home_page_navbar.html' %}
{% block title %} <title> Login | IIT BHU Hostel Portal </title> {% endblock %}
<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>

<div class="container-fluid" style="margin:auto;display:table;">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="login-form" action="/student/login/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <h3>Student Log In</h3>
                            <hr>

                            <div class="form-group">
                                <label class="control-label form-username">Institute Email Address</label>
                                <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                            </div>

                            <div class="form-group">
                                <label class="control-label form-username">Password</label>
                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <a href="/student/register/">Register </a>/
                            <a href="/student/forgotpass/">Forgot Password </a><br><br>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
</div>

<!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript">
        $(".button-collapse").sideNav();
        $(document).ready(function(){
          $('.slider').slider({
            indicators:true
          });
        });


      </script>

</body>
<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
