{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Grievances</title>
</head>

<body>
  {% include 'student/home_page_navbar.html' %}
  {% block body %}
<div class="container">
  <h2>Lost and Found List</h2>
  <h3 align="right"> <a href="/addlostfound/"><button type="submit" class="btn btn-outline-info">Add Lost and Found</button> </a></h3>
  <div class="table-responsive">
            <table class="table">
                    <thead>
                        <tr>
                            <th>Posting Date</th>
                            <th><a href="?type=0"><u>Lost</u></a> / <a href="?type=1"><u>Found</u></a></th>
                            <th>Subject</th>
                            <th>Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in lostfoundlist %}
                        <tr>
                            <td>{{ item.date }}</td>
                            {% if item.label %}
                            <td>Found</td>
                            {% else %}
                            <td>Lost</td>
                            {% endif %}
                            <td>{{ item.subject }}</td>
                            <td><a href="/lostfound/{{item.id}}/"><button type="submit" class="btn btn-success">View</button></a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
  </div>
</div>
<center>
<div class="pagination">
    <span class="step-links">
        {% if grievances.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ grievances.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ grievances.number }} of {{ grievances.paginator.num_pages }}.
        </span>

        {% if grievances.has_next %}
            <a href="?page={{ grievances.next_page_number }}">next</a>
            <a href="?page={{ grievances.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</center>

</body>
{% endblock %}

<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
