<nav class="top-nav" role="navigation">
      <div class="nav-wrapper container">
      <a href= "{% url 'student:homepage' %}"><img src="https://image.ibb.co/emLsEn/iitbhu_logo.png" height="50"></a>
        <ul class="right hide-on-med-and-down">

          <li><a href="#">Hostels</a></li>
          <li><a href="#">CoW</a></li>
          <!-- <li><a href="#">HEC @{{ all_hostels.name }}</a></li> -->
         {% if user.is_authenticated %} 
            <li><a href="{% url 'student:logout' %}">Logout</a></li>
        {% else %}      
            <li><a href= "/student/login" >Login/Register</a></li>
        {% endif %}

        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
      </div>
    </nav>
