<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}Notifications{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{% for files in all_files %}
    {% if files.is_new %}
        <a href="#"><strong>{{ files.message }}</strong></a> <span class="label label-default">New</span><br>
    {% else %}
        <a href="#">{{ files.message }}</a><br>
    {% endif %}
{% endfor %}
</body>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #ee6e73; color: #FFF; padding: 1%;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2019 Copyright &copy;
      Hostel Committee, IIT (BHU), Varanasi
    </div>
    <!-- Copyright -->
</footer>
