<!DOCTYPE html>
<head>
{% load staticfiles %}
<title>Register</title>
<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>

</head>
<body>


  {% include 'student/home_page_navbar.html' %}
<br>

<div class="container-fluid" style="margin:auto;display:table;">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="login-form" action="/student/register/" method="post">
                        {% csrf_token %}
                            <h3>Student Registration</h3>
                            <hr>
                            <div class="form-group">
                                <label class="control-label ">First Name</label>
                                <input type="text" name="form-first-name" placeholder="First Name..." class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <label class="control-label ">Last Name</label>
                                <input type="text" name="form-last-name"  placeholder="Last Name..."class="form-last-name form-control" id="form-last-name">
                            </div>
                            <div class="form-group">
		                        	<label class="control-label ">Email</label>
		                        	<input type="text" name="form-email" placeholder="Institute Email Id..." class="form-email form-control" id="form-email">
		                        </div>
                            <div class="form-group">
                                    <label class="control-label ">Password</label>
                                    <input type="password" minlength="8" name="form-pass" placeholder="Should contain at least 8 characters" class="form-email form-control" id="form-pass">
                                </div>
                            <div class="form-group">
                                    <label class="control-label ">Password Again</label>
                                    <input type="password" minlength="8" name="form-passagain" placeholder="Pass Again.." class="form-email form-control" id="form-passagain">
                                </div>
                            <div class="form-group">
		                        	<label class="control-label ">Rollno</label>
		                        	<input type="number" name="form-rollno" placeholder="Rollno..." class="form-rollno form-control" id="form-rollno">
		                        </div>
                            <div class="form-group">
		                        	<label class="control-label ">Branch</label>
                              <select name="form-branch" placeholder="Branch" class="form-branch form-control" id="form-branch">

                                <!-- Add Branches in sirted order for type search to work -->
                                {% for branch in branches %}
                                <option value="{{branch.id}}">{{branch}}</option>
                                {% endfor %}


                              </select>
		                    </div>
                                <br>
                            <div class="form-group">
                                    <label class="control-label ">Year</label>
                                    <input type="number" name="year" placeholder="Enter number" class="form-rollno form-control" id="year" min="1" max="5" required="true">
                                </div>
                            <div class="form-group">
		                        	<label class="control-label ">Hostel</label>
                              <select name="form-hostel" placeholder="Hostel" class="form-hostel form-control" id="form-hostel">
                                <!-- Add Hostels in sirted order for type search to work -->
                                {% for i in hostels %}
                                <option value="{{ i.id }}">{{ i }}</option>
                                {% endfor %}
                              </select>
		                        </div>
                            <h5><a href="/student/login">Already registered? Login here!</a></h5>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Submit</button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
</div>

</body>
<!-- Footer -->
{% include 'student/footer.html' %}
<!-- Footer -->
